= form_for meal, html: { autocomplete: "off" } do |f|
  .flex.pt2.px3
    = render "/shared/box" do
      %h2 Meal
      .mb2
        = f.label :name, class: "block"
        = f.text_field :name, class: "input inline", value: nil, "v-model": "meal.name"
      .mb1
        = f.label :desc, class: "block"
        .flex
          .tab{ "v-bind:class": "{ 'tab--active': activeTab === 'write' }",
                "v-on:click": "activeTab = 'write'" }
            Write
          .tab{ "v-bind:class": "{ 'tab--active': activeTab === 'preview' }",
                "v-on:click": "previewDescription" }
            Preview
        .tab-panel{ "v-bind:class": "{ 'tab-panel--visible': activeTab === 'write' }" }
          = f.text_area :desc, class: "textarea", value: nil, "v-model": "meal.desc"
        .tab-panel{ "v-bind:class": "{ 'tab-panel--visible': activeTab === 'preview' }" }
          %div{ "v-html": "generatedHTML" }
      .field
        = f.button "Save", "v-on:click.prevent": "saveMeal"

    .p2

    = render "/shared/box" do
      %h2.center Ingredients
      .flex-center.ht3
        %button{"@click.prevent": "showParseableTextField = true" } Paste Ingredients
      %div{ "v-show": "showParseableTextField" }
        .relative
          .absolute-center.border.mx4
            .p2.bg-white
              %textarea.textarea{ "v-model": "parseableIngredientText" }
              .flex.justify-between
                .pr1
                  %button{ "@click.prevent": "parseText"} Parse
                  %span.c-green.pl1{ "v-show": "showParsedSuccessMsg" } Done &#10003;
                %button{ "@click.prevent": "showParseableTextField = false"} Cancel
      %div
        .meal-ingredients__item.flex.justify-between.mb2{ "v-for": "ingredient in visibleIngredients" }
          %input.input.inline.flex-15{ "v-model": "ingredient.quantity", placeholder: "1" }
          %input.input.inline.flex-15{ "v-model": "ingredient.measurement_unit", placeholder: "LB" }
          %input{ "v-model": "ingredient.name", class: "input inline flex-50", placeholder: "Some Ingredient" }
          %span.flex-5.center.cursor{ "v-on:click": "removeIngredient(ingredient)" }
            &times
        = f.button "Add", "v-on:click.prevent": "addIngredient"
