<div id="showMeal" class="flex-auto">
  <h1 class="center p2"><%= meal.name %></h1>
  <div class="center">
    <%= link_to "Edit", edit_meal_path(meal), class: "center" %>
  </div>
  <div class="flex pt2 px3">
    <%= render "shared/box" do %>
      <%= raw(meal.desc) || "No Description" %>
    <% end %>
    <div class="p2"></div>
    <%= render "shared/box" do %>
      <h4>Ingredients</h4>
      <% meal.ingredients.each do |ingr| %>
        <div>
          <span><%= ingr.quantity %></span>
          <span><%= ingr.measurement_unit %></span>
          <span><%= ingr.name %></span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
